html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
}

.robot {
  width: 320px;
  position: relative;
  margin: 0 auto;
  padding: 1em;
  top: 39px;
  left: -15px;
}

.robot-body {
  width: 320px;
  display: block;
  margin: 0 auto;
  top: auto;
}

.robot-brain {
  margin: -23px;
  width: 42px;
  position: absolute;
  top: 39px;
  right: 146px;
}

.robot-head-left {
  width: 125px;
  position: absolute;
  margin: -23px;
  right: 167px;
  top: 0;
  z-index: 1000;
}

.robot-head-right {
  margin: 45px;
  right: -25px;
  top: -68px;
  width: 125px;
  position: absolute;
  z-index: 2000;
}

.robot:hover {
  top: -80px;
  right: 20px;
}
